@using TpUbiComp.Models.View_Models
@{
    CityModel viewModel;
    try
    {
        viewModel = (CityModel)ViewData["Model"];
    }
    catch
    {
        viewModel = new CityModel();
    }
}
<partial name="~/Views/Shared/_PrivateNavbar.cshtml" />

<div class="pt-lg-8 pb-lg-16 pt-8 pb-12 bg-primary">
    <div class="container xl-container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div>
                    <h1 class="text-white display-4 font-weight-semi-bold">@viewModel.CityName</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pb-10">
    <div class="container xl-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 mt-n8 mb-4 mb-lg-0">
                <!-- Card -->
                <div class="card rounded-lg">
                    <!-- Card header -->
                    <div class="card-header border-bottom-0 p-0">
                        <div>
                            <!-- Nav -->
                            <ul class="nav nav-lb-tab" id="tab" role="tablist">
                                @for (var count = 0; count < viewModel.ApplicationList.Count; count++)
                                {
                                    @if (count == 0)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active" id="application-@count-tab" data-toggle="pill" href="#application-@count" role="tab" aria-controls="table" aria-selected="true">@viewModel.ApplicationList[count].ApplicationName</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" id="application-@count-tab" data-toggle="pill" href="#application-@count" role="tab" aria-controls="description" aria-selected="false">@viewModel.ApplicationList[count].ApplicationName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="tab-content" id="tabContent">
                            @for (var count = 0; count < viewModel.ApplicationList.Count; count++)
                            {
                                if (count == 0)
                                {
                                    <div class="tab-pane fade show active" id="application-@count" role="tabpanel" aria-labelledby="table-tab">
                                        <!-- Card -->
                                        <iframe src="@viewModel.ApplicationList[count].ApplicationUrl" class="application-iframe"></iframe>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade" id="application-@count" role="tabpanel" aria-labelledby="description-tab">
                                        <!-- Card -->
                                        <iframe src="@viewModel.ApplicationList[count].ApplicationUrl" class="application-iframe"></iframe>
                                    </div>
                                }
                            }
                        </div>
                        <div>
                            <a href="/Private/index">Escolher outra cidade</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".main-warp-container").addClass("full-screen-container");
    });
</script>