@{
    TpUbiComp.Models.User viewModel;
    try
    {
        viewModel = (User)ViewData["Model"];
    }
    catch
    {
        viewModel = new User();
    }
}

<partial name="~/Views/Shared/_PrivateNavbar.cshtml" />

<div class="pt-5 pb-5">
    <div class="container xl-container">
        <!-- Content -->
        <div class="row mt-0 mt-md-4">
            <div class="col-lg-12 col-md-12 col-12">
                <!-- Card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Detalhes do perfil</h3>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="d-lg-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center mb-4 mb-lg-0">
                                <img src="~/images/avatar-18.jpg" id="img-uploaded" class="avatar-xl rounded-circle" alt="">
                                <div class="ml-3">
                                    <h4 class="mb-0">Seu avatar</h4>
                                    <p class="mb-0">
                                        PNG ou JPG menor do que 800px de altura e largura.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <a href="#!" class="btn btn-outline-white btn-sm">Atualizar</a>
                                <a href="#!" class="btn btn-outline-danger btn-sm">Remover</a>
                            </div>
                        </div>
                        <hr class="my-5">
                        <div class="d-lg-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center mb-4 mb-lg-0">
                                <h4 class="mb-0">Seu saldo</h4><br>
                                <p class="mb-0 lead ml-3">
                                    R$@viewModel.Credit
                                </p>
                            </div>
                            <div>
                                <a href="/Private/BuyCredits" class="btn btn-outline-white btn-sm">Adicionar créditos</a>
                            </div>
                        </div>
                        <hr class="my-5">
                        <div>
                            <h4 class="mb-0">Detalhes do cadastro</h4>
                            <p class="mb-4">
                                Edite seus dados de cadastro.
                            </p>
                            <!-- Form -->
                            <form class="form-row">
                                <!-- First name -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="fname">Nome</label>
                                    <input type="text" id="fname" class="form-control" placeholder="First Name" required="" value="@viewModel.FirstName">
                                </div>
                                <!-- Last name -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="lname">Sobrenome</label>
                                    <input type="text" id="lname" class="form-control" placeholder="Last Name" required="" value="@viewModel.LastName">
                                </div>
                                <!-- Phone -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="phone">Telefone</label>
                                    <input type="text" id="phone" class="form-control" placeholder="Phone" required="" value="@viewModel.Cellphone">
                                </div>
                                <!-- Birthday -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="birth">Data de nascimento</label>
                                    <input class="form-control" type="date" placeholder="Birth of Date" id="birth" name="birth" value="@viewModel.Birthdate">
                                </div>
                                <!-- Address -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label" for="address">Endereço</label>
                                    <input type="text" id="address" class="form-control" placeholder="Address" required="" value="@viewModel.Address">
                                </div>
                                <!-- State -->
                                <div class="form-group col-12 col-md-6">
                                    <label class="form-label">País</label>
                                    <input type="text" id="country" class="form-control" placeholder="Address" required="" value="@viewModel.Country">
                                </div>
                                <div class="col-12">
                                    <!-- Button -->
                                    <button class="btn btn-primary btn-update-user" type="button">
                                        Atualizar perfil
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Card -->
                <div class="card  mb-4 card-hover d-flex">
                    <a href="#" class="card-img-top align-self-center"><img src="/images/cartao-otimo.png" alt="" class="card-img-top rounded-top-md buy-card-image"></a>
                    <!-- Card body -->
                    <div class="card-body">
                        <h3 class="h4 mb-2 text-truncate-line-2 ">
                            <a href="#" class="text-inherit">
                                Cartão para mobilidade dentro de Belo Horizonte
                            </a>
                        </h3>                        
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer align-content-center">
                        <!-- Button -->
                        <button class="btn btn-secondary buy-card" type="button" data-card-value="10">
                            Comprar cartão (R$10,00)
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Card -->
                <div class="card  mb-4 card-hover">
                    <a href="#" class="card-img-top"><img src="/images/bilhete-unico.png" alt="" class="card-img-top rounded-top-md buy-card-image"></a>
                    <!-- Card body -->
                    <div class="card-body">
                        <h3 class="h4 mb-2 text-truncate-line-2 ">
                            <a href="#" class="text-inherit">
                                Cartão para mobilidade dentro de São Paulo
                            </a>
                        </h3>                        
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer">
                        <!-- Button -->
                        <button class="btn btn-secondary buy-card" type="button" data-card-value="20">
                            Comprar cartão (R$20,00)
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Card -->
                <div class="card  mb-4 card-hover">
                    <a href="#" class="card-img-top"><img src="/images/riocard.png" alt="" class="card-img-top rounded-top-md buy-card-image"></a>
                    <!-- Card body -->
                    <div class="card-body">
                        <h3 class="h4 mb-2 text-truncate-line-2 ">
                            <a href="#" class="text-inherit">
                                Cartão para mobilidade dentro do Rio de Janeiro
                            </a>
                        </h3>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer">
                        <!-- Button -->
                        <button class="btn btn-secondary buy-card" type="button" data-card-value="30">
                            Comprar cartão (R$30,00)
                        </button>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".main-warp-container").addClass("full-screen-container");
        $(".btn-update-user").click(() => {
            $.post("/Private/UpdateProfile",
                {
                    FirstName: $("#fname").val(),
                    LastName: $("#lname").val(),
                    Cellphone: $("#phone").val(),
                    Birthdate: $("#birth").val(),
                    Address: $("#address").val(),
                    Country: $("#country").val()
                },
                (data) => {
                    window.location = data;
                })
        });
        $(".buy-card").click(function () {
            var cardValue = parseInt($(this).data('card-value'));
            if (parseInt(@viewModel.Credit) < cardValue) {
                alert("Erro: Saldo insuficiente!")
            }
            else {
                $.post("/Private/BuyCard", {
                    cardValue: cardValue
                },
                (data) => {
                    window.location = data;
                })
            }            
        });
    });
</script>